a {
    text-decoration: none; /* Remove underline */
    color: #36454F; /* Use the default text color */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: color 1.05s, font-weight 0.125s;
}

@media(max-width:700px){
    .about-section{
        padding: 6.25rem;
    }
}

a:hover{
    color: #696969;
    font-weight: bolder;
}

.background{
    background-image:
     linear-gradient(
            to bottom, #F0F0F0, #E0E0E0
        );
}

h3{
    margin: 2rem 0rem;
    font-size: x-large;
    font-weight: bold;
    color: #36454F;
}

.marginbot2{
    margin-bottom: 1.5rem;
}

.post-title{
    margin: 1rem 0rem;
    font-size: large;
    font-family: Tahoma, sans-serif;
}

.post-subtitle{
    font-size: large;
    font-family: Tahoma, sans-serif;
}

.subheading{
    font-style: italic;
    font-size: larger;
}

section{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar{
    /* background-color: #f8f8ff; */
    background-image: linear-gradient(
        to bottom, #f8f8ff, #F0F0F0
    );
}

.row{
    margin-right: 0px;
}

.roundimg{
    border-radius: 50%;
    filter: brightness(92%); /* Adjust the percentage to change the darkness */
}

.custom-card {
    height: 100%;
    width: 17.5rem; /* Set the desired height for the card */
}

.custom-card-img {
    height: 16.5rem; /* Set the desired height */
    object-fit: fill;
    filter: brightness(92%); /* Adjust the percentage to change the darkness */

}

.custom-img{
    width: 100%; /* Specify the width you want */
    height: 15rem; /* Specify the height you want */
    object-fit: cover;
}


.postimg{
    height: 400px; object-fit: fill;
}

@media(max-width:500px){
    .postimg{
        height: 250px;
    }
}

.cutnav{
    margin-bottom: -0.02rem;
}

/*For Featured content*/

.marginpadding{
    margin: 0rem 1.8rem 0rem 4rem ;
}

@media (max-width: 1000px) {
    .marginpadding {
        /* Your styles for max width of 1000px */
        margin: 0rem 0.05rem /* Add your adjusted margin here */;
    }
    h3{
        margin: 2rem 0.05rem;
    }
    .custom-card {
        height: 100%;
        width: 100%; /* Set the desired height for the card */
        margin-left: 0.35rem;
    }
    .size{
        margin: 0.75rem;
    }
}

@media (max-width: 650px) {
    .size {
        margin: 1rem 0.05rem 0.01rem 0.05rem;
        font-size: smaller;
    }
    .custom-card-img{
        height: 12rem;
    }
}

.noflow{
    max-width: 9.5rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}

.fontsizee{
    font-size:small;
}

.fontsizeetitle{
    font-size:large;
}

/*For Newsletter*/

.newsletterbackground
{
  padding:2%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.form-subscribe
{
  max-width:600px;
  margin:0 auto
}
.form-subscribe .form-control
{
  background-color:hsla(0,0%,100%,.8);
  padding-left:24px;
  padding-right:24px;
  letter-spacing:1px;
  border:none;
  border-top-left-radius:36px;
  border-bottom-left-radius:36px
}
.form-subscribe .form-control.focus,.form-subscribe .form-control:focus
{
  z-index:2;
  background-color:hsla(0,0%,100%,.8)
}
.form-subscribe .btn
{
  border-top-right-radius:36px;
  border-bottom-right-radius:36px;
  background:#f8f8ff;
  color: #696969;
  height:46.5px;
  transition: border-color 1s;
}
.form-subscribe .btn:hover
{
 border-color: #f8f8f8;
}

.showmorebutton{
  background:#f8f8ff;
  padding: 0.75rem;
  color: #696969;
  cursor: pointer;
  transition: padding 1s, border-color 1s;
}

.showmorebutton:hover{
    color: #343434;
}

.catbackground{
        background-image: linear-gradient(
            to bottom right, #f8f8ff, #F0F0F0
        );
}

.cardbackground{
    background-image: linear-gradient(
        to top right, #f8f8ff, #ffffff
    );
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-image: linear-gradient(
            to bottom, #E0E0E0, #FFFFFF
        );
}

  @media (max-width: 1200px) { /* Adjust the max-width value as needed */
      .margintop{
          margin-top: 4rem;
      }
      .dontshow{
          display: none;
      }
  }

  @media(max-width: 480px){
    .showmorebutton{
        padding: 1rem;
      }
  }

  @media (max-width: 770px) {
    .justify-content-cent {
      justify-content: center !important;
    }
  }

  header.masthead {
    position: relative;
    /* margin-bottom: 3rem; */
    padding-top: calc(8rem + 57px);
    padding-bottom: 8rem;
    background: no-repeat center center;
    background-color: #6c757d;
    background-size: cover;
    background-attachment: scroll;
    background-image: url('https://images.unsplash.com/photo-1500964757637-c85e8a162699?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8YmVhdXRpZnVsJTIwbGFuZHNjYXBlfGVufDB8fDB8fHww');
  }

  header.masthead::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Adjust the transparency (0.5 here) to your liking */
    z-index: 1; /* Adjust the z-index if needed */
    }

  header.masthead .page-heading,
  header.masthead .site-heading {
    text-align: center;
    color: #f8f8ff;
    font-size: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative; /* Ensures headings appear above the overlay */
    z-index: 2; /* Higher z-index to place headings above the overlay */
  }

  header.masthead .post-heading .subheading {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0.75rem 0 2rem;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }

  @media (min-width: 992px) {
    header.masthead {
      padding-bottom: 12rem;
    }
    header.masthead .page-heading h1, header.masthead .page-heading .h1,
    header.masthead .site-heading h1,
    header.masthead .site-heading .h1 {
      font-size: 5rem;
    }
    header.masthead .post-heading h1, header.masthead .post-heading .h1 {
      font-size: 3.5rem;
    }
    header.masthead .post-heading .subheading {
      font-size: 1.875rem;
    }
  }

    #backgroundimage {
    width: 100%;
    height: 35.5rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 1.5rem;
    background-size: fill;
    }

    #backgroundimage::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Adjust the transparency (0.5 here) to your liking */
    z-index: 1; /* Adjust the z-index if needed */
    }

    .title{
    margin-top: 11.5rem;
    font-weight: bolder;
    font-size: 1.75rem;
    }

    .titlehead{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* Limit to 5 lines */
        -webkit-box-orient: vertical;
    }

    .subtitle{
        font-weight: lighter;
    }

    .rest{
        font-weight:lighter;
    }

    .title, .subtitle, .rest {
    color: #f8f8ff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    z-index: 2;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    }

    @media(max-width:992px){

    .title{
        margin-top: 5rem;
        font-size: 1.25rem;
        }

    #backgroundimage {
        height: 25rem;
        }
    .forsmallpost{
        padding: 0.5rem;
    }
    .titlehead{
        -webkit-line-clamp: 2; /* Limit to 5 lines */
    }
    }



